/build/
/Lampada/nbproject/private/
/Lampada/build/
/SupermercadoPoo/nbproject/private/
/SupermercadoPoo/build/
/Exe3Agenda/nbproject/private/
/Exe3Agenda/build/
/Exer4Livros/nbproject/private/
/Exer4Livros/build/
/Exer5Genealogica/nbproject/private/